<div class="row">
  <form [formGroup]="machinesReportForm" (ngSubmit)="onSubmitMachinesReportForm(machinesReportForm.value)">
    <mat-card-content>
      <table>
        <tr>
          <td colspan="3">
            <mat-form-field>
              <input matInput [matDatepicker]="date" formControlName="date" [min]="minDate" [max]="maxDate"
                placeholder="Choose start date" required>
              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>
              <mat-error *ngIf="machinesReportForm.controls['date'].hasError('required')">Please
                choose a date.</mat-error>
              <mat-error *ngIf="machinesReportForm.controls['date'].hasError('matDatepickerMin')">
                No data available before {{printDate(minDate)}} !</mat-error>
              <mat-error *ngIf="machinesReportForm.controls['date'].hasError('matDatepickerMax')">
                No data available after {{printDate(maxDate)}} !</mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Report Type</mat-label>
              <mat-select formControlName="reportType" required >
                <mat-option *ngFor="let type of reportTypes" [value]="type.value"> {{type.viewValue}} </mat-option>
              </mat-select>
              <mat-error *ngIf="machinesReportForm.controls['reportType'].hasError('required')">Please
                select a report type.</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button color="basic" type="submit" [disabled]="!machinesReportForm.valid">Submit</button>
          </td>
        </tr>
      </table>
    </mat-card-content>
  </form>
</div>