<div class="container">
  <div class="row">
    <mat-toolbar color="primary">Marviq test assignment. Machines data report</mat-toolbar>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-machines-report-form></app-machines-report-form>
    </div>
    <div class="col-md-6">
      <div class="row">
        <app-machines-netto-data></app-machines-netto-data>
      </div>
      <div class="row" style="margin-top: 5%;">
        <app-machines-scrap-data></app-machines-scrap-data>
      </div>
      <div class="row" style="margin-top: 5%;">
          <app-machines-runtime-data></app-machines-runtime-data>
        </div>
    </div>
    <div class="row">
      <app-machines-netto-hourly-data></app-machines-netto-hourly-data>
    </div>
  </div>
</div>