<div class="row">

    <mat-divider [inset]="true"></mat-divider>
    <table mat-table [dataSource]="displayData" class="mat-elevation-z12">
      <ng-container matColumnDef="machineName">
        <th mat-header-cell *matHeaderCellDef> Machine name </th>
        <td mat-cell *matCellDef="let machine"> {{machine.machineName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateTimeFrom">
        <th mat-header-cell *matHeaderCellDef> From Date </th>
        <td mat-cell *matCellDef="let machine"> {{machine.dateTimeFrom}} </td>
      </ng-container>
  
      <ng-container matColumnDef="dateTimeTo">
        <th mat-header-cell *matHeaderCellDef> To Date </th>
        <td mat-cell *matCellDef="let machine"> {{machine.dateTimeTo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="scrapPercentage">
        <th mat-header-cell *matHeaderCellDef> Scrap Production [%] </th>
        <td mat-cell class="value-cell" *matCellDef="let machine"> {{machine.scrapPercentage}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>